// scss file for theme colours & get functions

//Your variable overrides
$body-bg: #9c7e7eb0;
$body-color: rgb(0, 0, 0);

$theme-colors: (
"primary-medium": #4f4f4f,
"primary-light": #e4eff1,
"primary-dark": #333333,
);

@function color($key: "blue") {
  @return map-get($colors, $key);
}

@function theme-color($key: "primary") {
  @return map-get($theme-colors, $key);
}

@function gray($key: "100") {
  @return map-get($grays, $key);
}

// "primary-medium": #4f4f4f;
// "primary-light": #e4eff1,
// "primary-dark": #333333,