// sass & scss documentation https://sass-lang.com/guide

@use "colours";
@use "mixins";

// section styling

body {
  background-color: colours.theme-color("primary-light") !important;
}

button {
  border-radius: 0.3rem !important;
}

// scroll bar style
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

// nav styling
nav {
  background: colours.theme-color("primary-medium");
}

nav a {
  color: colours.theme-color("primary-light") !important;
}

.join .secondarybutton {
  margin-right: 0.3em;
  color: colours.theme-color("primary-light") !important;
  border-color: colours.theme-color("primary-light") !important;
}

.join .secondarybutton i,
.card .delete {
  padding-right: 0.3em;
  padding-left: 0.3em;
}

.join .primarybutton {
  background-color: colours.theme-color("primary-light") !important;
  color: colours.theme-color("primary-dark") !important;
  border-color: colours.theme-color("primary-light") !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(228,239,241, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

// banner styling

.banner .row,
nav .row {
  width: 100%;
  margin: 0;
  height: 100%;
}

.banner .row {
  background: colours.theme-color("primary-light") !important;
  min-height: 230px;
}

.banner h1 {
  letter-spacing: 3px;
  font-weight: 400;
}

.banner button {
  color: colours.theme-color("primary-light") !important;
  border-color: colours.theme-color("primary-dark") !important;
  background-color: colours.theme-color("primary-medium") !important;
}

// blog styling
.blog {
  background-color: colours.theme-color("primary-light") !important;
}

@media all and (transform-3d), (-webkit-transform-3d) {
  > .carousel-item {
    // use your favourite prefixer here
    transition: 1000ms ease-in-out all;
    // backface-visibility: visible;
    transform: none !important;
  }
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.active.carousel-item-end,
.carousel-item-next:not(.carousel-item-start) {
  transform: translateX(25%);
}

.active.carousel-item-start,
.carousel-item-prev:not(.carousel-item-end) {
  transform: translateX(-25%);
}

@media (max-width: 991px) {
  .active.carousel-item-end,
  .carousel-item-next:not(.carousel-item-start) {
    transform: translateX(50%);
  }

  .active.carousel-item-start,
  .carousel-item-prev:not(.carousel-item-end) {
    transform: translateX(-50%);
  }
}

@media (max-width: 763px) {
  .active.carousel-item-end,
  .carousel-item-next:not(.carousel-item-start) {
    transform: translateX(100%);
  }

  .active.carousel-item-start,
  .carousel-item-prev:not(.carousel-item-end) {
    transform: translateX(-100%);
  }
}

.carousel-item .col-md-3 {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}

.card .card-img {
  position: relative;
  height: 330px;
  // width: 330px;
  overflow: hidden;
}

.card .card-img img {
  position: absolute;
  top: 0;
  right: 0;
  width: inherit;
  height: inherit;
}

.card .card-img.active img {
  opacity: 50%;
}

.card .card-img-overlay {
  opacity: 0;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: colours.theme-color("primary-dark") !important;
  z-index: 5;
}

.card .card-img-overlay h2 {
  height: 30%;
  font-size: 30px;
}

.card .card-img-overlay.active {
  opacity: 100%;
}

.card .card-img-overlay p {
  font-size: 15px;
}

.card .blog-control button {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.card .blog-control {
  display: flex;
  justify-content: end;
}

.card .delete {
  margin-right: 0.3em;
  color: colours.theme-color("primary-light") !important;
  border-color: colours.theme-color("primary-medium") !important;
  background-color: colours.theme-color("primary-medium") !important;
}
.card .edit {
  background-color: colours.theme-color("primary-light") !important;
  color: colours.theme-color("primary-dark") !important;
  border-color: colours.theme-color("primary-light") !important;
}

.card .delete i,
.card .edit i {
  padding-right: 0.3em;
  padding-left: 0.3em;
}

.slider-control {
  position: relative;
  padding-top: 3rem;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23gff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23gff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  padding-right: 0;
  padding-left: 0;
}

.girl-div img {
  height: 250px;
  margin-top: -90px;
  z-index: 4;
}

// contact styling
.contact {
  min-height: 100vh;
  width: 100%;
}
.contact .row {
  width: 100%;
}
.contact.row {
  --bs-gutter-x: 0px !important;
}

.contact h1 {
  font-size: 90px;
  text-align: center;
}
.contact .left {
  background-color: colours.theme-color("primary-light") !important;
  color: colours.theme-color("primary-dark") !important;
}
.contact .left .illustrations img {
  margin: 1em;
}

.contact .left .illustrations :nth-child(1) {
  width: 9% !important;
}
.contact .left .illustrations :nth-child(2) {
  width: 9% !important;
}
.contact .left .illustrations :nth-child(3) {
  width: 15% !important;
}
.contact .left .illustrations :nth-child(4) {
  width: 10% !important;
}

.contact .left li {
  font-size: 28px;
  list-style: none;
}

.contact .right {
  background-color: colours.theme-color("primary-dark") !important;
  color: colours.theme-color("primary-light") !important;
}

.contact .right p {
  text-align: right;
}

.row {
  --bs-gutter-x: 0rem;
}

/* scroll up button styling */

.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: colours.theme-color("primary-light");
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  border: rgba(0, 0, 0, 0.287) 2px solid;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show {
  bottom: 50px;
  opacity: 1;
  pointer-events: auto;
}
.scroll-up-btn:hover {
  filter: brightness(90%);
}

.scroll-up-btn i {
  color: #000000;
}

// timeline style

.artists {
  height: 1000px;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.containerTime {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.containerTime::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -12px;
  background-color: white;
  border: 4px solid #ff9f55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -12px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .containerTime {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .containerTime::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

.timeline .containerTime {
  opacity: 0;
}

.timeline .containerTime:first-child {
  opacity: 100;
}
