// sass & scss documentation https://sass-lang.com/guide

@use "colours";
@use "mixins";

.banner {
  background: #dbdfe5;
  min-height: 300px;
}

.row {
  width: 100%;
  margin: 0;
  height: 100%;
}

.banner .row{
  background: #dbdfe5;
  min-height: 300px;
}
.banner-child {
  // padding: 25px;
  // background: #abb1b8;
}

#sign {
  justify-content: end;
}

.join .secondarybutton {
  margin-right: 0.3em;
}

.join .secondarybutton i {
  padding: 0.3em;
}

#navigation .navbar-nav {
  display: flex;
  width: 100%;
  justify-content: start;
}
