// sass & scss documentation https://sass-lang.com/guide

@use "colours";
@use "mixins";

// section styling

body {
  background-color: colours.theme-color("primary-light") !important;
}

button {
  border-radius: 0.3rem !important;
}

// scroll bar style
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

// nav styling
nav {
  background: colours.theme-color("primary-medium");
}

nav a {
  color: colours.theme-color("primary-light") !important;
}

.join .secondarybutton {
  margin-right: 0.3em;
  color: colours.theme-color("primary-light") !important;
  border-color: colours.theme-color("primary-light") !important;
}

.join .secondarybutton i,
.card .delete {
  padding-right: 0.3em;
  padding-left: 0.3em;
}

.join .primarybutton {
  background-color: colours.theme-color("primary-light") !important;
  color: colours.theme-color("primary-dark") !important;
  border-color: colours.theme-color("primary-light") !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(228,239,241, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

// banner styling

.banner .row,
nav .row {
  width: 100%;
  margin: 0;
  height: 100%;
}

.banner .row {
  background: colours.theme-color("primary-light") !important;
  min-height: 230px;
}

.banner h1 {
  letter-spacing: 3px;
  font-weight: 400;
}

.banner button {
  color: colours.theme-color("primary-light") !important;
  border-color: colours.theme-color("primary-dark") !important;
  background-color: colours.theme-color("primary-medium") !important;
}

// blog styling
.blog {
  background-color: colours.theme-color("primary-light") !important;
}

@media all and (transform-3d), (-webkit-transform-3d) {
  > .carousel-item {
    // use your favourite prefixer here
    transition: 1000ms ease-in-out all;
    // backface-visibility: visible;
    transform: none !important;
  }
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.active.carousel-item-end,
.carousel-item-next:not(.carousel-item-start) {
  transform: translateX(25%);
}

.active.carousel-item-start,
.carousel-item-prev:not(.carousel-item-end) {
  transform: translateX(-25%);
}

@media (max-width: 992px) {
  .active.carousel-item-end,
  .carousel-item-next:not(.carousel-item-start) {
    transform: translateX(50%);
  }

  .active.carousel-item-start,
  .carousel-item-prev:not(.carousel-item-end) {
    transform: translateX(-50%);
  }
}

@media (max-width: 425px) {
  .active.carousel-item-end,
  .carousel-item-next:not(.carousel-item-start) {
    transform: translateX(100%);
  }

  .active.carousel-item-start,
  .carousel-item-prev:not(.carousel-item-end) {
    transform: translateX(-100%);
  }
}

.carousel-item .col-md-3 {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}

.card .card-img {
  position: relative;
  height: 330px;
  // width: 330px;
  overflow: hidden;
}

.card .card-img img {
  position: absolute;
  top: 0;
  right: 0;
  width: inherit;
  height: inherit;
}

.card .card-img.active img {
  opacity: 50%;
}

.card .card-img-overlay {
  opacity: 0;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: colours.theme-color("primary-dark") !important;
  z-index: 5;
}

.card .card-img-overlay h2 {
  height: 30%;
  font-size: 30px;
}

.card .card-img-overlay.active {
  opacity: 100%;
}

.card .card-img-overlay p {
  font-size: 15px;
}

.card .blog-control button {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.card .blog-control {
  display: flex;
  justify-content: end;
}

.card .delete {
  margin-right: 0.3em;
  color: colours.theme-color("primary-light") !important;
  border-color: colours.theme-color("primary-medium") !important;
  background-color: colours.theme-color("primary-medium") !important;
}
.card .edit {
  background-color: colours.theme-color("primary-light") !important;
  color: colours.theme-color("primary-dark") !important;
  border-color: colours.theme-color("primary-light") !important;
}

.card .delete i,
.card .edit i {
  padding-right: 0.3em;
  padding-left: 0.3em;
}

.slider-control {
  position: relative;
  padding-top: 3rem;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23gff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23gff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  padding-right: 0;
  padding-left: 0;
}

.girl-div img {
  height: 250px;
  margin-top: -90px;
  z-index: 4;
}

// contact styling
.contact {
  min-height: 100vh;
  width: 100%;
}
.contact .row {
  width: 100%;
}
.contact.row {
  --bs-gutter-x: 0px !important;
}

.contact h1 {
  font-size: 90px;
  text-align: center;
}
.contact .left {
  background-color: colours.theme-color("primary-light") !important;
  color: colours.theme-color("primary-dark") !important;
}
.contact .left .illustrations img {
  margin: 1em;
}

.contact .left .illustrations :nth-child(1) {
  width: 9% !important;
}
.contact .left .illustrations :nth-child(2) {
  width: 9% !important;
}
.contact .left .illustrations :nth-child(3) {
  width: 15% !important;
}
.contact .left .illustrations :nth-child(4) {
  width: 10% !important;
}

.contact .left li {
  font-size: 28px;
  list-style: none;
}

.contact .right {
  background-color: colours.theme-color("primary-dark") !important;
  color: colours.theme-color("primary-light") !important;
}

.contact .right p {
  text-align: right;
}

.row {
  --bs-gutter-x: 0rem;
}
